<div id="gameItemContainer">
    <div class="jumbotron">
        <h1><span data-bind="text:GameName"></span> </h1>
        <p class="lead"><span data-bind="text:GameDescription"></span> </p>
    </div>
</div>