
<div class="panel-body" id="gameRatingListContainer">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: gameList">
            <tr>
                <td style="width:200px;" data-bind="text: GameName"></td>
                <td data-bind="text: GameDescription"></td>
                <td style="width:100px;">
                    <input class="rating" data-bind="readonlyRating: GameRating, size: 'md'">
                </td>
            </tr>
        </tbody>
    </table>
</div>
